
.icon-portfolio-android:before { content: '\e800'; } /* '' */
.icon-portfolio-apple:before { content: '\e801'; } /* '' */
.icon-portfolio-desktop:before { content: '\e802'; } /* '' */
.icon-portfolio-mobile:before { content: '\e803'; } /* '' */
.icon-portfolio-print:before { content: '\e804'; } /* '' */
.icon-facebook-logo:before { content: '\e805'; } /* '' */
.icon-behance:before { content: '\e806'; } /* '' */
.icon-facebook-logo-fill:before { content: '\e807'; } /* '' */
.icon-instagram-logo-fill:before { content: '\e809'; } /* '' */
.icon-instagram-logo:before { content: '\e80a'; } /* '' */
.icon-clock:before { content: '\e80b'; } /* '' */
.icon-plant:before { content: '\e80c'; } /* '' */
.icon-messages:before { content: '\e80d'; } /* '' */
.icon-team:before { content: '\e80e'; } /* '' */
.icon-down-arrow-green:before { content: '\e80f'; } /* '' */
.icon-left-arrow:before { content: '\e810'; } /* '' */
.icon-right-arrow:before { content: '\e811'; } /* '' */
.icon-up-arrow:before { content: '\e812'; } /* '' */
.icon-left-arrow-green:before { content: '\e813'; } /* '' */
.icon-right-arrow-green:before { content: '\e814'; } /* '' */
.icon-coffee:before { content: '\e819'; } /* '' */
.icon-location:before { content: '\e81a'; } /* '' */
.icon-coffee-black:before { content: '\e81b'; } /* '' */
.icon-location-black:before { content: '\e81c'; } /* '' */
.icon-mail-black:before { content: '\e81d'; } /* '' */
.icon-phone-black:before { content: '\e81e'; } /* '' */
.icon-mail:before { content: '\e81f'; } /* '' */
.icon-phone:before { content: '\e820'; } /* '' */
.icon-map:before { content: '\e821'; } /* '' */
.icon-behance-fill:before { content: '\e823'; } /* '' */
.icon-download:before { content: '\e825'; } /* '' */
.icon-work_love:before { content: '\e826'; } /* '' */
.icon-lamb-1:before { content: '\e827'; } /* '' */
.icon-lamb-2:before { content: '\e828'; } /* '' */
.icon-calendar:before { content: '\e829'; } /* '' */
.icon-mobile_design:before { content: '\e82a'; } /* '' */
.icon-info_list:before { content: '\e82b'; } /* '' */
.icon-ux-ui:before { content: '\e82c'; } /* '' */
.icon-lamb-3:before { content: '\e82d'; } /* '' */
.icon-branding:before { content: '\e82e'; } /* '' */
.icon-design:before { content: '\e82f'; } /* '' */
.icon-printing:before { content: '\e830'; } /* '' */
.icon-company-care:before { content: '\e831'; } /* '' */
.icon-hand_point:before { content: '\e832'; } /* '' */
.icon-hand_box:before { content: '\e833'; } /* '' */
.icon-down-arrow:before { content: '\e834'; } /* '' */